<div class="colors">
  {% assign seen_colors = '|' %}
  {% assign color_count = 0 %}

  {% for variant in product.variants %}
    {% assign color = variant.options[option_index] | downcase | strip %}
    {% assign marker = '|' | append: color | append: '|' %}
    {% unless seen_colors contains marker %}
      {% assign color_count = color_count | plus: 1 %}
      {% if color_count > 3 %}
        {% break %}
      {% endif %}

      {% assign current_color_name = variant.options[option_index] %}

      {% assign color_variants = product.variants | where: "option1", current_color_name %}

      {% assign color_is_available = false %}
      {% for cv in color_variants %}
        {% if cv.available %}
          {% assign color_is_available = true %}
          {% break %}
        {% endif %}
      {% endfor %}


      {% assign image = variant.featured_image | default: product.featured_image %}

      <button
        type="button"
        class="color-btn 
                  {% if forloop.first %}active{% endif %}
                  {% unless color_is_available %}unavailable{% endunless %}"
        data-color="{{ current_color_name | escape }}"
        data-variant-id="{{ variant.id }}">

        <img
          src="{{ image | img_url: '88x88' }}"
          alt="{{ current_color_name | escape }}"
          width="44"
          height="44">
        <span class="unavailable-line"></span>
      </button>
      {% assign seen_colors = seen_colors | append: color | append: '|' %}
    {% endunless %}
  {% endfor %}
</div>
