{% javascript %}
// const totalStart = performance.now();
// console.log("javascript tag started");

// const start = performance.now();
// while (performance.now() - start < 100) {
//   let x = 0;
//   for (let i = 0; i < 1000; i++) {
//     x += Math.sqrt(i * Math.random());
//   }
// }

// const totalEnd = performance.now();

// console.log("javascript tag finished");
// console.log(`Execution time: ${(totalEnd - totalStart).toFixed(2)} ms`);
console.log("javascript tag script finished");
{% endjavascript %}
<div class="heavy-js-test">
  <p>Heavy JavaScript test section loaded.</p>
</div>
{% schema %}
{
  "name": "Heavy JS Test",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Heavy JS Test"
    }
  ]
}
{% endschema %}