.promo-banners .text-alignment-left {
    text-align: left;
}
.promo-banners .text-alignment-center {
    text-align: center;
}
.promo-banners .text-alignment-right {
    text-align: right;
}
.promo-banners.color-light {
    background-color: #ffffff;
}
.promo-banners.color-dark {
    color: #000000;
    background-color: #000000;
}
.promo-banners.color-dark h2,
.promo-banners.color-dark h3,
.promo-banners.color-dark .heading,
.promo-banners.color-dark .subheading,
.promo-banners.color-dark .promo-banners__button {
    color: #ffffff;
    background-color: #000000;
}
.promo-banners.color-dark .promo-banners__button {
    background-color: #1d1d1d;
}
.promo-banners.color-dark .promo-banners__button:hover {
    background-color: #333333;
}

.promo-banners.color-accent {
    background-color: #ff4081;
}
.promo-banners__grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .promo-banners__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .promo-banners__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Image ratios */
.promo-banners__image {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.ratio-16-9 { aspect-ratio: 16/9}
.ratio-1-1 { aspect-ratio: 1/1 }
.ratio-3-2 { aspect-ratio: 3/2 }

.promo-banners__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .promo-banners__item {
  position: relative;
} */
/* .promo-banners__content {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 100%;
} */
.promo-banners__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}
.promo-banners__button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}